# Investment Value

In [224]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import datetime
import numpy as np

%matplotlib inline

## Create a DataFrame with the current amount of shares

In [225]:
# Set current amount of shares data
shares = [200,320]

# Set the tickers
tickers = ["MSFT","AAPL"]

# Create the shares DataFrame
portfolio = pd.DataFrame({"symbol":tickers,"shares":shares})

# Display shares data
portfolio

  symbol  shares
0   MSFT     200
1   AAPL     320

In [226]:
# Load .env environment variables
load_dotenv()

True

In [227]:
# Set Alpaca API key and secret
alpaca_key = os.getenv("APCA_API_KEY_ID")
secret_key = os.getenv("APCA_API_SECRET_KEY")

In [228]:
# Verify that Alpaca key and secret were correctly loaded
print(type(alpaca_key))
print(type(secret_key))

<class 'str'>
<class 'str'>

In [229]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_key,
    secret_key
)

In [230]:
# Format current date as ISO format
# NOT NEEDED
today = pd.Timestamp(datetime.date.today(), tz="America/New_York").isoformat()

In [231]:
# Set timeframe to one day ('1D') for the Alpaca API
tf = tradeapi.TimeFrame.Day

In [238]:
# Get current price data for MSFT and AAPL
data = alpaca.get_bars(
    tickers,
    tf,
    "2022-03-11",
    "2022-03-11"
).df
# transform to ticker pivot table
tickers = data.pivot_table(values="close", index="timestamp", columns="symbol")

# Display sample data
tickers

symbol                       AAPL    MSFT
timestamp
2022-03-11 05:00:00+00:00  154.73  280.07

## Calculate the current value in dollars of the stock portfolio

In [233]:
# Fetch the current closing prices from the DataFrame
returns = tickers.pct_change()
returns

symbol                         AAPL      MSFT
timestamp
2021-03-11 05:00:00+00:00       NaN       NaN
2021-03-12 05:00:00+00:00 -0.007461 -0.005820
2021-03-15 04:00:00+00:00  0.024287 -0.003987
2021-03-16 04:00:00+00:00  0.012743  0.012350
2021-03-17 04:00:00+00:00 -0.006451 -0.002819
...                             ...       ...
2022-03-07 05:00:00+00:00 -0.023718 -0.037777
2022-03-08 05:00:00+00:00 -0.011676 -0.010971
2022-03-09 05:00:00+00:00  0.034997  0.045858
2022-03-10 05:00:00+00:00 -0.027186 -0.010087
2022-03-11 05:00:00+00:00 -0.023909 -0.019328

[254 rows x 2 columns]

In [234]:
# Compute the current value in dollars of the stock portfolio
current_return = (1+returns).cumprod().dropna().tail(1)

# Print the current value of the stocks portfolio
# print(f"AAPL: {current_return["AAPL"]*portfolio["AAPL"]["shares"]}    MSFT: {current_return["AAPL"]*portfolio["MSFT"]["shares"]}")
print(current_return["AAPL"]*shares[1])
print(current_return["MSFT"]*shares[0])

timestamp
2022-03-11 05:00:00+00:00    405.982289
Name: AAPL, dtype: float64
timestamp
2022-03-11 05:00:00+00:00    236.216421
Name: MSFT, dtype: float64

## Plot stock portfolio composition

### Create a DataFrame with the current value of shares

In [235]:
# Set the data for the shares value DataFrame
# YOUR CODE HERE!

# Create a DataFrame with the current value of shares
# YOUR CODE HERE!

# Display DataFrame data
# YOUR CODE HERE!

In [236]:
# Create a pie chart to show the proportion of stocks in the portfolio
# YOUR CODE HERE!

In [237]:
# Create a bar plot to show the value of shares
# YOUR CODE HERE!