# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5434/fraud_detection")
    # Note - I have multiple SQL servers on my machine so the IP is not default postgres

# Read in transaction database
query = """
        SELECT id_transaction, date, amount, id_card_holder
        FROM transaction
        LEFT JOIN credit_card ON transaction.card_number = credit_card.card_number
        """

# Create a DataFrame from the query result.
transactions = pd.read_sql(query, engine)

transactions

      id_transaction                date  amount  id_card_holder
0                222 2018-01-01 21:35:10    6.22              13
1               2045 2018-01-01 21:43:12    3.83              13
2                395 2018-01-01 22:41:21    9.61              10
3               3309 2018-01-01 23:13:30   19.03               4
4                567 2018-01-01 23:15:10    2.95              18
...              ...                 ...     ...             ...
3495            1979 2018-12-31 01:24:15    4.84              15
3496            2342 2018-12-31 03:33:28    3.26              10
3497             948 2018-12-31 05:53:58   10.73              19
3498            1168 2018-12-31 08:22:17   11.87              23
3499            2476 2018-12-31 09:50:25   19.75              15

[3500 rows x 4 columns]

In [3]:
transactions.describe()

       id_transaction       amount  id_card_holder
count     3500.000000  3500.000000     3500.000000
mean      1750.500000    40.789129       13.371714
std       1010.507298   202.042922        6.882208
min          1.000000     0.510000        1.000000
25%        875.750000     3.735000        8.000000
50%       1750.500000    10.270000       13.000000
75%       2625.250000    14.647500       19.000000
max       3500.000000  2249.000000       25.000000

In [4]:
# Write function that locates outliers using standard deviation
def find_outliers_STD(df:pd.DataFrame, std_level=3,specific_idenity = None, identifier_header='id_card_holder', data_header='amount',print_range=False):
    """
    Finds all outliers in a given dataframe dataset
    If specific identity is set it will filter down the the data to only rows with that identity
    The identity and data columns are modifiable using identifier_header and data_header to increase places this can be used
    Will print the range

    Uses STD
    """
    if specific_idenity != None:
        filter_df = df[df[identifier_header]==specific_idenity] # Filters only to the identity given
    else:
        filter_df = df

    df_stats = filter_df[data_header].describe() # Caluclates the statistics
    mean = df_stats['mean'] 
    std_away = df_stats['std']*std_level # Calculates the STD range away

    high_limit = mean+std_away
    low_limit = mean-std_away
    if print_range : print(f'Non-outlier data range: {low_limit:.2f} to {high_limit:.2f}')

    high_filter = filter_df[data_header]>=high_limit # Creates a high filter - Only true if high outlier
    low_filter = filter_df[data_header]<=low_limit # Creates a low filter - Only true if low outlier
    band_filter = high_filter | low_filter # Merges the two filters to get both sides of outliers

    return filter_df[band_filter]

In [5]:
# Find anomalous transactions for 3 random card holders
max_id = transactions['id_card_holder'].describe()['max']
min_id = transactions['id_card_holder'].describe()['min']

def print_random_outliers_STD():
    idenity=random.randint(min_id,max_id)
    print(f'Showing Outliers for: ID# {idenity}')
    df = find_outliers_STD(transactions, specific_idenity=idenity,print_range=True)
    if df.empty:
        print('No Outliers found!\n')
    else:
        print(f'{df}\n')

In [12]:
print_random_outliers_STD()
print_random_outliers_STD()
print_random_outliers_STD()
# Since the majority of transactions are so small, a negative lower outlier range is to be expected

Showing Outliers for: ID# 9
Non-outlier data range: -1120.46 to 1461.15
      id_transaction                date  amount  id_card_holder
613             2789 2018-03-04 15:50:53  1534.0               9
1578            3143 2018-06-10 04:54:27  1795.0               9
3389            2696 2018-12-19 16:10:03  1724.0               9

Showing Outliers for: ID# 18
Non-outlier data range: -883.16 to 1065.12
      id_transaction                date  amount  id_card_holder
487             3098 2018-02-19 22:48:25  1839.0              18
925             1359 2018-04-03 03:23:37  1077.0              18
1508            3139 2018-06-03 20:02:28  1814.0              18
2425            1431 2018-09-10 22:49:41  1176.0              18
3095            3252 2018-11-17 05:30:43  1769.0              18
3324            1326 2018-12-13 12:09:58  1154.0              18

Showing Outliers for: ID# 19
Non-outlier data range: -7.88 to 25.72
No Outliers found!

## Identifying Outliers Using Interquartile Range

In [7]:
# Write a function that locates outliers using interquartile range
def find_outliers_IQR(df:pd.DataFrame, specific_idenity = None, identifier_header='id_card_holder', data_header='amount',print_range=False):
    """
    Finds all outliers in a given dataframe dataset
    If specific identity is set it will filter down the the data to only rows with that identity
    The identity and data columns are modifiable using identifier_header and data_header to increase places this can be used
    Will print the range

    Uses IQR
    """
    if specific_idenity != None:
        filter_df = df[df[identifier_header]==specific_idenity] # Filters only to the identity given
    else:
        filter_df = df

    df_stats = filter_df[data_header].describe() # Caluclates the statistics
    IQR = df_stats['75%']-df_stats['25%'] # Calculates the Interquartile range

    high_limit = (df_stats['75%']+1.5*IQR)
    low_limit = (df_stats['25%']-1.5*IQR)
    if print_range : print(f'Non-outlier data range: {low_limit:.2f} to {high_limit:.2f}')

    high_filter = filter_df[data_header]>=high_limit # Creates a high filter - Only true if high outlier
    low_filter = filter_df[data_header]<=low_limit # Creates a low filter - Only true if low outlier
    band_filter = high_filter | low_filter # Merges the two filters to get both sides of outliers

    return filter_df[band_filter]

In [8]:
# Find anomalous transactions for 3 random card holders
max_id = transactions['id_card_holder'].describe()['max']
min_id = transactions['id_card_holder'].describe()['min']

def print_random_outliers_IQR():
    idenity=random.randint(min_id,max_id)
    print(f'Showing Outliers for: ID# {idenity}')
    df = find_outliers_IQR(transactions, specific_idenity=idenity,print_range=True)
    if df.empty:
        print('No Outliers found!\n')
    else:
        print(f'{df}\n')

In [9]:
print_random_outliers_IQR()
print_random_outliers_IQR()
print_random_outliers_IQR()
# Since the majority of transactions are so small, a negative lower outlier range is to be expected

Showing Outliers for: ID# 18
Non-outlier data range: -15.59 to 35.21
      id_transaction                date  amount  id_card_holder
53              3457 2018-01-07 01:10:54   175.0              18
67               812 2018-01-08 11:15:36   333.0              18
487             3098 2018-02-19 22:48:25  1839.0              18
925             1359 2018-04-03 03:23:37  1077.0              18
1508            3139 2018-06-03 20:02:28  1814.0              18
1763             654 2018-06-30 01:56:19   121.0              18
1832             560 2018-07-06 16:12:08   117.0              18
1956             136 2018-07-18 09:19:08   974.0              18
2363            2103 2018-09-02 11:20:42   458.0              18
2425            1431 2018-09-10 22:49:41  1176.0              18
3095            3252 2018-11-17 05:30:43  1769.0              18
3324            1326 2018-12-13 12:09:58  1154.0              18

Showing Outliers for: ID# 20
Non-outlier data range: -8.85 to 23.82
No Outliers found!

Showing Outliers for: ID# 12
Non-outlier data range: -13.21 to 33.00
      id_transaction                date  amount  id_card_holder
15                99 2018-01-02 23:27:46  1031.0              12
219             2667 2018-01-23 06:29:37  1678.0              12
708             2610 2018-03-12 00:44:01  1530.0              12
795              236 2018-03-20 10:19:25   852.0              12
1673            1622 2018-06-21 13:16:25  1102.0              12
1729            3318 2018-06-27 01:27:09  1592.0              12
1745            1129 2018-06-28 21:13:52  1108.0              12
2549            1856 2018-09-23 19:20:23  1075.0              12
3153            2240 2018-11-23 09:08:05   233.0              12
3171            1204 2018-11-25 20:44:07  1123.0              12
3187            2760 2018-11-27 15:36:05  1802.0              12
3331             208 2018-12-14 08:51:41   748.0              12