# Challenge

Another approach to identifying fraudulent transactions is to look for outliers in the data. Standard deviation or quartiles are often used to detect outliers. Using this starter notebook, code two Python functions:

* One that uses standard deviation to identify anomalies for any cardholder.

* Another that uses interquartile range to identify anomalies for any cardholder.

## Identifying Outliers using Standard Deviation

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import random
from sqlalchemy import create_engine

In [2]:
# Create a connection to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5434/fraud_detection")
    # Note - I have multiple SQL servers on my machine so the IP is not default postgres

# Read in transaction database
query = """
        SELECT id_transaction, date, amount, id_card_holder
        FROM transaction
        LEFT JOIN credit_card ON transaction.card_number = credit_card.card_number
        """

# Create a DataFrame from the query result.
transactions = pd.read_sql(query, engine)

transactions

      id_transaction                date  amount  id_card_holder
0                222 2018-01-01 21:35:10    6.22              13
1               2045 2018-01-01 21:43:12    3.83              13
2                395 2018-01-01 22:41:21    9.61              10
3               3309 2018-01-01 23:13:30   19.03               4
4                567 2018-01-01 23:15:10    2.95              18
...              ...                 ...     ...             ...
3495            1979 2018-12-31 01:24:15    4.84              15
3496            2342 2018-12-31 03:33:28    3.26              10
3497             948 2018-12-31 05:53:58   10.73              19
3498            1168 2018-12-31 08:22:17   11.87              23
3499            2476 2018-12-31 09:50:25   19.75              15

[3500 rows x 4 columns]

In [32]:
# Write function that locates outliers using standard deviation
def find_outliers(df:pd.DataFrame, specific_idenity = None, identifier_header='id_card_holder', data_header='amount',print_range=False):
    """
    Finds all outliers in a given dataframe dataset
    If specific identity is set it will filter down the the data to only rows with that identity
    The identity and data columns are modifiable using identifier_header and data_header to increase places this can be used
    Will print the range 
    """
    if specific_idenity != None:
        filter_df = df[df[identifier_header]==specific_idenity] # Filters only to the identity given
    else:
        filter_df = df

    df_stats = filter_df[data_header].describe() # Caluclates the statistics
    IQR = df_stats['75%']-df_stats['25%'] # Calculates the Interquartile range

    high_limit = (df_stats['75%']+1.5*IQR)
    low_limit = (df_stats['25%']-1.5*IQR)
    if print_range : print(f'Non-outlier data range: {low_limit:.2f} to {high_limit:.2f}')

    high_filter = filter_df[data_header]>=high_limit # Creates a high filter - Only true if high outlier
    low_filter = filter_df[data_header]<=low_limit # Creates a low filter - Only true if low outlier
    band_filter = high_filter | low_filter # Merges the two filters to get both sides of outliers

    return filter_df[band_filter]

In [33]:
# Find anomalous transactions for 3 random card holders
max_id = transactions['id_card_holder'].describe()['max']
min_id = transactions['id_card_holder'].describe()['min']

def print_random_outliers():
    idenity=random.randint(min_id,max_id)
    print(f'Showing Outliers for: ID# {idenity}')
    df = find_outliers(transactions, specific_idenity=idenity,print_range=True)
    if df.empty:
        print('No Outliers found!\n')
    else:
        print(f'{df}\n')

In [44]:
print_random_outliers()
print_random_outliers()
print_random_outliers()
# Since the majority of transactions are so small, a negative lower outlier range is to be expected

Showing Outliers for: ID# 7
Non-outlier data range: -14.90 to 34.58
      id_transaction                date  amount  id_card_holder
27              2650 2018-01-04 03:05:18  1685.0               7
379             2409 2018-02-09 11:38:37   445.0               7
484             1480 2018-02-19 16:00:43  1072.0               7
991              408 2018-04-10 06:08:01   543.0               7
1079            1827 2018-04-18 23:23:29  1086.0               7
1366            3377 2018-05-19 19:33:38   160.0               7
1945             721 2018-07-17 10:11:12   233.0               7
2142            1424 2018-08-07 11:07:32  1449.0               7
3327            2945 2018-12-13 15:51:59  2249.0               7
3379            1318 2018-12-18 17:20:33  1296.0               7

Showing Outliers for: ID# 20
Non-outlier data range: -8.85 to 23.82
No Outliers found!

Showing Outliers for: ID# 20
Non-outlier data range: -8.85 to 23.82
No Outliers found!

## Identifying Outliers Using Interquartile Range

In [5]:
# Write a function that locates outliers using interquartile range

In [6]:
# Find anomalous transactions for 3 random card holders